@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>
<p>
You need to be authenticated to have access. Contact uwbit@uw.edu
</p>
<div class="w-75 p-3" style="background-color: #eee;">
    <ul>list of issues being worked on
        <li>no notification of existing vanity words</li>
        <li>need banned list of words</li>
        <li>need creator id field</li>
        <li>need stats filter for creator id field</li>
        
    </ul>
</div>