@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>
<div class="w-75 p-3" style="background-color: #eee;">
    <ul>
        <li>You need to be authenticated to have access. Contact uwbit@uw.edu</li>
    </ul>
</div>