@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>
<p>
You need to be authenticated to have access. Contact uwbit@uw.edu
</p>
<div class="w-75 p-3" style="background-color: #eee;">
    <ul>list of issues being worked on
        <li>no notification of existing vanity words, despite message in code</li>
        <li> no confirmation when a new url is added, despite message in code</li>
        <li> no error when http/s is not present but required, despite message in code</li>
        <li> ... Maybe it's just displaying the messages that's broken</li>
    </ul>
    <ul>list of features
        <li>need banned list of words</li>
        <li>need creator id field</li>
        <li>need stats filter for creator id field</li>
    </ul>
</div>