@page "/"

<PageTitle>UW Bothell Short URL</PageTitle>

<h1>Welcome to this example of the UWB short url tool.</h1>
<div>
    <p>
    This tool is hosted on Azure and an individual instance of the tool can be spun up for your department. Currenly there is not a way to
    have individual accounts, but that is being worked on.
    </p>
    <p>If you want an implementation, contact uwbit@uw.edu and request a short URL site.</p>

    <div>
    <p>This is the frontend of a solution using <a href="https://github.com/FBoucher/AzUrlShortener" target="_blank">AzUrlShortener</a> both projects are available on GitHub.</p>
    
    <p>This site is build using <a href="http://blazor.net/" target="_blank">.Net Blazor Web Assembly</a> and some Blazor components from <a href="https://blazor.syncfusion.com/" target="_blank">Syncfusion</a> (thank you for the Community licence)</p>

    </div>

</div>