@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized >
                        Hello, @context.User.Identity?.Name! 
                        <div class="nav-item">
                            <a class="nav-link btn btn-link" href="/logout?post_logout_redirect_uri=/">Log out</a>
                        </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item">
                        <a href="/login">Log in</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <div class="nav-item">
                <a href="https://github.com/DaleUWB/AzUrlShortener" target="_blank">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
